## Sobre os dados
O estudo ser√° realizado sobre os Microdados de Movimenta√ß√µes do Cadastro Geral de Empregados e Desempregados (CAGED) disponibilizados na plataforma Base dos Dados.
Dados CAGED  no BD: https://basedosdados.org/dataset/562b56a3-0b01-4735-a049-eeac5681f056?table=2245875f-d1ef-490d-be29-4f8fb2191335

In [1]:
# Vers√£o da Linguagem Python
from platform import python_version
print('Vers√£o da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Vers√£o da Linguagem Python Usada Neste Jupyter Notebook: 3.13.1

In [2]:
#Instala√ß√£o de pacotes necess√°rios
#pip install pandas

In [3]:
#importando a biblioteca pandas, que fornece estruturas de dados de alto desempenho e f√°ceis de usar, al√©m de ferramentas de an√°lise de dados.
import pandas as pd
print(pd.__version__)

2.2.3

In [4]:
# Importando arquivo original para trabalho
dataset_orig = pd.read_csv('dados_iniciais.csv')

### Conhecendo o Dataset:
Conhecendo a composi√ß√£o do dataset e entendendo como os dados est√£o registrados e distribu√≠dos.
Dessa forma, podemos identificar poss√≠veis cen√°rios para reduzir a nossa base de observa√ß√£o, al√©m de identificar pontos de corre√ß√£o e ajustes para os pr√≥ximos passos.

In [5]:
dataset_orig.head()

,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,tipo_movimentacao,salario_mensal,sigla_uf,ano,mes,horas_contratuais
0,212405,1,9,24.0,1,1,10,2800.0,SP,2021,1,40.0
1,212405,1,8,22.0,1,1,10,4955.0,PR,2020,1,44.0
2,212420,1,7,22.0,3,1,10,1100.0,MG,2020,1,44.0
3,212410,1,7,18.0,6,3,10,1057.0,SP,2021,1,36.0
4,212420,1,9,30.0,1,1,10,5690.0,RS,2021,1,40.0

In [15]:
print('O dataset original tem', dataset_orig.shape[0],'linhas.')

O dataset original tem 990705 linhas.

In [16]:
dataset_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990705 entries, 0 to 990704
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   cbo_2002            990705 non-null  int64
 1   saldo_movimentacao  990705 non-null  int64
 2   grau_instrucao      990705 non-null  int64
 3   idade               990688 non-null  float64
 4   raca_cor            990705 non-null  int64
 5   sexo                990705 non-null  int64
 6   tipo_movimentacao   990705 non-null  int64
 7   salario_mensal      990654 non-null  float64
 8   sigla_uf            990705 non-null  object
 9   ano                 990705 non-null  int64
 10  mes                 990705 non-null  int64
 11  horas_contratuais   990705 non-null  float64
dtypes: float64(3), int64(8), object(1)
memory usage: 90.7+ MB

üìù Observa√ß√µes:

1. O valor do atributo cbo_2002 est√° registrado como inteiro, mas da forma como √© representado, deve ser interpretado como string
2. O atributo cbo_2002 pode ser classificado para otimizar o processamento
3. Os atributos idade e salario_mensal apresentam valores nulos
4. Atributos como idade e salario_mensal e horas_contratuais podem ser classificados por faixas

In [8]:
dataset_orig.describe()

,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,tipo_movimentacao,salario_mensal,ano,mes,horas_contratuais
count,990705.000000,990705.000000,990705.000000,990688.000000,990705.000000,990705.000000,990705.000000,9.906540e+05,990705.000000,990705.000000,990705.000000
mean,212390.844787,0.114511,14.366970,31.923477,2.446621,1.414382,57.735264,5.918462e+03,2021.567789,6.491594,41.472494
std,942.114691,0.993422,19.766737,8.648844,1.854678,0.810587,32.435120,2.126597e+04,1.043652,3.391225,3.055963
min,21205.000000,-1.000000,1.000000,15.000000,1.000000,1.000000,10.000000,0.000000e+00,2020.000000,1.000000,0.000000
25%,212405.000000,-1.000000,8.000000,25.000000,1.000000,1.000000,31.000000,2.500000e+03,2021.000000,4.000000,40.000000
50%,212405.000000,1.000000,9.000000,30.000000,1.000000,1.000000,40.000000,4.500000e+03,2022.000000,7.000000,40.000000
75%,212420.000000,1.000000,9.000000,37.000000,3.000000,1.000000,97.000000,8.000000e+03,2022.000000,9.000000,44.000000
max,212430.000000,1.000000,80.000000,86.000000,6.000000,3.000000,98.000000,1.566110e+07,2023.000000,12.000000,60.000000

In [9]:
dataset_orig.nunique()

cbo_2002                  15
saldo_movimentacao         2
grau_instrucao            12
idade                     69
raca_cor                   6
sexo                       2
tipo_movimentacao         13
salario_mensal        198005
sigla_uf                  27
ano                        4
mes                       12
horas_contratuais        847
dtype: int64

In [12]:
ctg = dataset_orig['ano'].value_counts()
ctg

ano
2021    293391
2022    279334
2023    233719
2020    184261
Name: count, dtype: int64

### Explora√ß√£o e Transforma√ß√£o da Base:
1) unificar as colunas ano e m√™s em uma √∫nica coluna no formato mm-aa

In [ ]:
# vendo quais s√£o os valores da coluna mes
valores_unicos = dataset_orig['mes'].unique()
print(valores_unicos)

In [ ]:
#quais s√£o os valores da coluna ano
valores_unicos = dataset_orig['ano'].unique()
print(valores_unicos)

In [ ]:
# Unindo os valores das duas colunas no formato aa-mm, por√©m ainda como string
dados['data'] = dados['mes'].astype(str).str.zfill(2) + '-' + dados['ano'].astype(str)

valores_unicos = dados['data'].unique()
print(valores_unicos)

In [ ]:
dados.head()

2) Remover colunas que n√£o s√£o relevantes na an√°lise

In [ ]:
#deixei a coluna ano apenas com os √∫ltimos dois d√≠gitos
dados['ano'] = dados['ano'].astype(str).str[-2:]

valores_unicos = dados['ano'].unique()
print(valores_unicos)

In [ ]:
# Remover a coluna ano e mes
dados = dados.drop('ano', axis=1)
dados = dados.drop('mes', axis=1)

In [ ]:
dados.head()

In [ ]:
# Remover as colunas 'coluna2' e 'coluna4' diretamente no DataFrame original
dados.drop(['id_municipio', 'cnae_2_subclasse', 'origem_informacao', 'indicador_fora_prazo'], axis=1, inplace=True)

In [ ]:
dados.head()

3) Analisar coluna cbo_2002:

In [ ]:
#Reduzir o grau de detalhamento aos quatro primeiros d√≠gitos
dados['cbo_2002'] = dados['cbo_2002'].astype(str).str[:4]

In [ ]:
dados['cbo_2002'] = dados['cbo_2002'].astype('Int64')

In [ ]:
print(dados['cbo_2002'].dtype)

In [ ]:
valores_unicos = dados['cbo_2002'].unique()
print(valores_unicos)

In [ ]:
#os valores 2121 e 2120 n√£o s√£o correspondentes a este atributo, pois n√£o h√° categorias relacionadas e podem ser registros errados.
dados_cbo2002 = dados[(dados['cbo_2002'] == 2121) | (dados['cbo_2002'] == 2120)]
dados_cbo2002

In [ ]:
dados = dados.drop(dados_cbo2002.index)

4) Analisando a coluna categoria:

In [ ]:
valores_unicos = dados['categoria'].unique()
print(valores_unicos)

In [ ]:
dados_categoria = dados[dados['categoria'] == 102]
dados_categoria

In [ ]:
# Escolhi remover o registro retornado pela categoria 102, pois representa uma inconsist√™ncia
dados.drop(dados[dados['categoria'] == 102].index, inplace=True)

In [ ]:
dados

In [ ]:
dados_categoria = dados[dados['categoria'] == 999]
dados_categoria

In [ ]:
dados_categoria = dados[dados['categoria'] == 101]
dados_categoria

In [ ]:
dados_categoria_102 = dados[dados['categoria'] == 103]
dados_categoria_102